<div class="container">
    <form id="loginForm" role="form" ng-submit="vm.login()">
        <header>
            <div id="logo" class="text-center">
               World Cup 2018 Admin
            </div>
        </header>
        <div class="login-input input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
            <input required #email class="form-control" placeholder="Username">
        </div>

        <div id="login-input password-input" class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
            <input required #password  type="password" class="form-control" placeholder="Password">
        </div>
        <div id="login-button-container" class="input-group text-center">
            <button class="btn btn-default btn-sm" type="submit" (click)="login(email.value, password.value)">Login</button>
        </div>
    </form>
</div>







