
html,body {
    height: 100%;
    width: 100%;
}

body
{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.52857143;
    color: #585f69;
    background-color: #f7f9fb;
    text-rendering:optimizeLegibility!important;
    -webkit-font-smoothing:antialiased!important;
    -moz-osx-font-smoothing:grayscale!important;
}



h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

table th{
    text-align: center;
}
